openapi: 3.0.3
info:
  title: CleanOps Connect API
  version: 1.0.0
  description: >
    Backend API for CleanOps Connect — a UK domestic and industrial cleaning
    lead allocation platform using AI scoring, Mapbox geolocation, cleaner
    subscriptions, insurance add-ons, and compliance checks.

servers:
  - url: https://api.cleanopsconnect.com
    description: Production server
  - url: http://localhost:4000
    description: Local development

paths:

  /auth/register:
    post:
      summary: Register a new user (customer or cleaner)
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: User registered
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '409':
          description: Email already registered

  /auth/login:
    post:
      summary: Log in and obtain a JWT
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid email or password

  /jobs:
    post:
      summary: Create a new cleaning job
      tags: [Jobs]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JobCreateRequest'
      responses:
        '201':
          description: Job created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'

  /jobs/{id}:
    get:
      summary: Get job details
      description: >
        Visible only to the customer who posted the job, a cleaner who was
        offered or booked it, or an admin. Stripe fields are omitted for
        non-admins.
      tags: [Jobs]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: Job details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Job'
        '401':
          description: Authentication required
        '403':
          description: You do not have access to this job
        '404':
          description: Job not found

  /jobs/{id}/allocate:
    post:
      summary: Allocate job to cleaners using AI scoring
      tags: [Jobs]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: Allocation results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllocationResult'

  /cleaners:
    post:
      summary: Register a new cleaner
      tags: [Cleaners]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CleanerCreateRequest'
      responses:
        '201':
          description: Cleaner created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CleanerProfile'

  /cleaners/{id}:
    get:
      summary: Get a cleaner's public profile
      description: >
        Returns only public fields (name, services, compliance badges, rating,
        availability and the outward postcode as `area`). Contact details,
        exact postcode, coordinates, Stripe and commission data are never
        returned. Suspended cleaners return 404.
      tags: [Cleaners]
      parameters:
        - $ref: '#/components/parameters/CleanerId'
      responses:
        '200':
          description: Public cleaner profile
        '404':
          description: Cleaner not found

  /cleaners/coverage:
    post:
      summary: Set cleaner coverage area (radius or polygon)
      tags: [Cleaners]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverageRequest'
      responses:
        '200':
          description: Coverage updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CleanerProfile'

  /subscriptions:
    post:
      summary: Activate subscription plan
      tags: [Subscriptions]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionRequest'
      responses:
        '201':
          description: Subscription activated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'

  /subscriptions/insurance:
    post:
      summary: Add insurance add-on to subscription
      tags: [Subscriptions]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsuranceAddOnRequest'
      responses:
        '200':
          description: Insurance added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Subscription'


  # --- Operator (platform ops) API: operators and admins -------------------
  /ops/summary:
    get:
      summary: Ops queue counts (disputes, approvals, verification, stuck payouts)
      tags: [Ops]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Counts, plus the operator refund limit in pence
        '401':
          description: Not logged in, or the staff account is deactivated
        '403':
          description: Not a staff account

  /ops/disputes:
    get:
      summary: List open disputes, oldest first
      tags: [Ops]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Jobs in the DISPUTED state

  /ops/disputes/{id}:
    get:
      summary: Dispute detail with notes, audit timeline and any pending approval
      tags: [Ops]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: Dispute detail

  /ops/disputes/{id}/resolve:
    post:
      summary: Resolve a dispute
      description: >
        Operators whose refund is above OPS_REFUND_LIMIT_PENCE (default 15000)
        get 202 and an approval request for an admin; no money moves until it
        is approved. Admins are not limited. Every resolution is audited.
      tags: [Ops]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [outcome, reason]
              properties:
                outcome:
                  type: string
                  enum: [payout, refund, partial]
                refundPence:
                  type: integer
                  description: Required for a partial refund; less than the job price
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: Resolved
        '202':
          description: Sent to an admin for approval
        '400':
          description: Validation failed or the job is not disputed
        '409':
          description: A resolution for this job is already awaiting approval

  /ops/cleaners:
    get:
      summary: List cleaners (filters as /admin/cleaners)
      tags: [Ops]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Cleaners

  /ops/cleaners/{id}/verification:
    patch:
      summary: Record DBS / COSHH / insurance verification with the evidence checked
      tags: [Ops]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CleanerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                dbsVerified:
                  type: boolean
                coshhTrained:
                  type: boolean
                insuranceStatus:
                  type: string
                  enum: [none, own, platform]
                reason:
                  type: string
      responses:
        '200':
          description: Updated and audited

  /ops/cleaners/{id}/review:
    patch:
      summary: Put a cleaner under review or re-activate them
      description: Operators cannot suspend a cleaner or lift a suspension (403).
      tags: [Ops]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/CleanerId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [deactivationStatus, reason]
              properties:
                deactivationStatus:
                  type: string
                  enum: [active, under_review]
                reason:
                  type: string
      responses:
        '200':
          description: Updated and audited
        '403':
          description: The cleaner is suspended; only an admin can change them

  /ops/jobs/{id}/notes:
    post:
      summary: Add an internal staff note to a job
      tags: [Ops]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body:
                  type: string
                  maxLength: 2000
      responses:
        '201':
          description: Note added

  # --- Admin-only additions ---------------------------------------------------
  /admin/approvals:
    get:
      summary: List refund approval requests
      tags: [Admin]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum: [pending, approved, rejected]
      responses:
        '200':
          description: Approval requests

  /admin/approvals/{id}/decision:
    post:
      summary: Approve (issues the refund) or reject a refund request
      description: The admin who raised a request cannot decide it.
      tags: [Admin]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [decision, reason]
              properties:
                decision:
                  type: string
                  enum: [approve, reject]
                reason:
                  type: string
      responses:
        '200':
          description: Decided and audited
        '409':
          description: Already decided, or the job is no longer disputed

  /admin/audit:
    get:
      summary: Read the staff audit log (newest first, max 200)
      tags: [Admin]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: action
          schema:
            type: string
        - in: query
          name: actor
          schema:
            type: string
        - in: query
          name: from
          schema:
            type: string
            format: date-time
        - in: query
          name: to
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Audit entries

  /admin/users:
    get:
      summary: List staff (operator/admin) accounts
      tags: [Admin]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Staff accounts
    post:
      summary: Create a staff account
      tags: [Admin]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [name, email, password, role]
              properties:
                name:
                  type: string
                email:
                  type: string
                  format: email
                password:
                  type: string
                  minLength: 12
                role:
                  type: string
                  enum: [operator, admin]
      responses:
        '201':
          description: Created and audited
        '409':
          description: Email already registered

  /admin/users/{id}:
    patch:
      summary: Deactivate or re-activate a staff account
      description: Takes effect on the account's next request. An admin cannot deactivate themselves.
      tags: [Admin]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [active, reason]
              properties:
                active:
                  type: boolean
                reason:
                  type: string
      responses:
        '200':
          description: Updated and audited


  # --- Phase 3: customer and cleaner journeys --------------------------------
  /jobs/mine:
    get:
      summary: The logged-in customer's jobs, newest first
      tags: [Jobs]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Jobs without payment internals

  /jobs/{id}/offers:
    get:
      summary: Offers on the customer's job, with each cleaner's public details
      tags: [Jobs]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: Offers
        '403':
          description: Not the customer who posted the job

  /jobs/{id}/review:
    get:
      summary: The customer's review of this job, and whether they can leave one
      tags: [Reviews]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: '{ review, canReview }'
    post:
      summary: Review the cleaner after a completed job (one review per job)
      tags: [Reviews]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [rating]
              properties:
                rating:
                  type: integer
                  minimum: 1
                  maximum: 5
                comment:
                  type: string
                  maxLength: 1000
      responses:
        '201':
          description: Review published; the cleaner's rating is recalculated
        '400':
          description: The job is not completed yet, or is under dispute
        '409':
          description: Already reviewed

  /payments/jobs/{id}/intent:
    get:
      summary: Client secret for paying a BOOKED job with Stripe.js
      tags: [Payments]
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: '{ clientSecret, amountPence, status }'
        '400':
          description: The job is not waiting for payment

  /cleaners/me/offers:
    get:
      summary: The cleaner's job offers (outward postcode only until booked)
      tags: [Cleaners]
      security:
        - bearerAuth: []
      parameters:
        - in: query
          name: status
          schema:
            type: string
            enum: [sent, accepted, declined, expired]
      responses:
        '200':
          description: Offers with distance and job details

  /cleaners/me/jobs:
    get:
      summary: Jobs booked with the cleaner
      tags: [Cleaners]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Booked jobs with the customer's name and full postcode

  /cleaners/me/earnings:
    get:
      summary: Paid out, on the way, and held-in-escrow totals
      tags: [Cleaners]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Earnings summary and jobs

  /cleaners/me/payouts/onboarding:
    post:
      summary: Start or continue Stripe Connect Express payout set-up
      description: Creates the connected account on first use and returns a hosted Stripe onboarding URL. Needs FRONTEND_URL.
      tags: [Cleaners]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: '{ url }'

  /cleaners/me/payouts/status:
    get:
      summary: Payout set-up status, synced from Stripe
      tags: [Cleaners]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: '{ connected, detailsSubmitted, payoutsEnabled, requirementsDue }'

  /cleaners/me/payouts/dashboard:
    post:
      summary: Single-use link to the cleaner's Stripe Express dashboard
      tags: [Cleaners]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: '{ url }'

  /cleaners/{id}/reviews:
    get:
      summary: Published reviews for a cleaner (reviewer shown as first name and last initial)
      tags: [Reviews]
      parameters:
        - $ref: '#/components/parameters/CleanerId'
      responses:
        '200':
          description: Reviews

  /reviews/latest:
    get:
      summary: Latest published reviews in date order, with the overall average
      tags: [Reviews]
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 20
      responses:
        '200':
          description: '{ averageRating, count, reviews }'

  /ops/reviews:
    get:
      summary: Reviews for moderation
      tags: [Ops]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Reviews

  /ops/reviews/{id}:
    patch:
      summary: Hide or re-publish a review for a content-policy reason (audited)
      tags: [Ops]
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [hidden, reason]
              properties:
                hidden:
                  type: boolean
                reason:
                  type: string
      responses:
        '200':
          description: Updated; the cleaner's rating is recalculated

components:

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  parameters:
    JobId:
      name: id
      in: path
      required: true
      schema:
        type: string

    CleanerId:
      name: id
      in: path
      required: true
      schema:
        type: string

  schemas:

    RegisterRequest:
      type: object
      required:
        - name
        - email
        - password
        - role
      properties:
        name:
          type: string
        email:
          type: string
          format: email
        password:
          type: string
          minLength: 8
        role:
          type: string
          description: Admin accounts cannot be self-registered.
          enum: [customer, cleaner]
        phone:
          type: string

    LoginRequest:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          format: email
        password:
          type: string

    User:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
        role:
          type: string
          enum: [customer, cleaner, operator, admin]
        phone:
          type: string

    AuthResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        token:
          type: string

    JobCreateRequest:
      type: object
      required:
        - serviceType
        - postcode
        - budgetMin
        - budgetMax
      properties:
        serviceType:
          type: string
        category:
          type: string
          enum: [domestic, industrial]
        postcode:
          type: string
        description:
          type: string
        estimatedHours:
          type: number
        frequency:
          type: string
          enum: [one_off, weekly, monthly, contract]
        budgetMin:
          type: number
        budgetMax:
          type: number

    Job:
      type: object
      properties:
        id:
          type: string
        serviceType:
          type: string
        category:
          type: string
        postcode:
          type: string
        lat:
          type: number
        lng:
          type: number
        status:
          type: string
          enum: [open, allocated, in_progress, completed, cancelled]

    AllocationResult:
      type: object
      properties:
        jobId:
          type: string
        offers:
          type: array
          items:
            $ref: '#/components/schemas/JobOffer'

    JobOffer:
      type: object
      properties:
        cleanerId:
          type: string
        score:
          type: number
        status:
          type: string
          enum: [sent, accepted, declined, expired]

    CleanerCreateRequest:
      type: object
      required:
        - name
        - basePostcode
      properties:
        name:
          type: string
        companyName:
          type: string
        basePostcode:
          type: string
        services:
          type: array
          items:
            type: string
        dbsVerified:
          type: boolean
        coshhTrained:
          type: boolean

    CleanerProfile:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        companyName:
          type: string
        basePostcode:
          type: string
        lat:
          type: number
        lng:
          type: number
        coverageType:
          type: string
          enum: [radius, polygon]
        coverageRadiusKm:
          type: number
        coveragePolygon:
          type: object
        insuranceStatus:
          type: string
          enum: [none, own, platform]
        ratingAverage:
          type: number
        ratingCount:
          type: number

    CoverageRequest:
      type: object
      properties:
        cleanerId:
          type: string
        coverageType:
          type: string
          enum: [radius, polygon]
        radiusKm:
          type: number
        polygon:
          type: object

    SubscriptionRequest:
      type: object
      required:
        - cleanerId
        - plan
      properties:
        cleanerId:
          type: string
        plan:
          type: string
          enum: [starter, pro, industrial_pro]

    InsuranceAddOnRequest:
      type: object
      required:
        - cleanerId
      properties:
        cleanerId:
          type: string

    Subscription:
      type: object
      properties:
        id:
          type: string
        cleanerId:
          type: string
        plan:
          type: string
        isActive:
          type: boolean
        insuranceAddOn:
          type: boolean
